@import "_reset.scss";
@import "fonts.scss";

@function em($pixels) {
  @return #{$pixels/16}em;
}

body {
  position: relative;
  font-family: "RobotoRegular";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #fff;
  min-width: 320px;
}

.main-wrapper {
  width: 100%;
  .main-header {
    padding: 70px 15.17857% 230px 15.17857%;
    background-color: rgba(#455469, 0.95);
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: url(images/header-img.png);
      background-position: 50% 50%;
      z-index: -1;
    }
    .top-nav {
      overflow: hidden;
      .logo {
        float: left;
        transition: 0.4s;
        .logo-img {
          width: 47px;
          height: 47px;
          display: inline-block;
          vertical-align: -8px;
          margin-right: 27px;
        }
        &:hover {
          opacity: 0.6;
        }
        .title {
          font-size: em(41);
          color: #efefef;
          display: inline-block;
        }
      }
    }
    .login {
      float: right;
      cursor: pointer;
      h2 {
        font-size: em(20);
        font-family: "RobotoLight";
        text-transform: capitalize;
        font-style: italic;
        color: #c9ced7;
        display: inline-block;
        line-height: 66px;
      }
      .login-button {
        display: inline-block;
        background-color: #3d4b60;
        border-radius: 10px;
        text-decoration: none;
        padding: 4px 17px;
        font-size: 19px;
        color: #cad1db;
        font-family: "RobotoLight";
        text-transform: uppercase;
        margin-left: 24px;
        transition: 0.6s;
        &:hover {
          background-color: rgba(#67bf95, 0.8);
        }
      }
    }
    .banner {
      margin: 190px 0 0 0;
      &::after {
        content:"";
        display:block;
        clear:both;
      }
      .description {
        float: left;
        width: 660px;
        h2 {
          font-size: em(47);
          font-family: "RobotoRegular";
          line-height: 36px;
        }
        p {
          font-size: em(24);
          color: #c5d2e5;
          margin: 30px 0 60px 0;
        }
        .special {
          text-decoration: none;
          color: #fff;
          font-size: em(36);
          padding: 20px 45px;
          background-color: rgba(#67bf95, 0.8);
          border-radius: 14px;
          text-transform: capitalize;
          transition: 0.5s;
          &:hover {
            background-color: #67bf95;
          }
        }
      }
      &-pic {
        float: right;
        img {
          width: 305px;
          height: 292px;
        }
      }
    }
  }
  .details {
    padding: 99px 0 135px 17.202%;
    background-color: #f6f6f7;
    &-pic {
      display: inline-block;
      img {
        width: 234px;
        height: 273px;
        opacity: 0.76;
      }
    }
    &-description {
      margin: 0 115px 0 80px;
      display: inline-block;
      width: 580px;
      h2 {
        font-family: "RobotoBold";
        font-size: em(40);
        color: #37414e;
      }
      p {
        font-family: "RobotoLight";
        font-size: em(20);
        line-height: 40px;
        color: #4b596c;
      }
    }
    &-registration {
      display: inline-block;
      .sign-up,
      .fb-sign-up {
        width: 70px;
        height: 70px;
        display: block;
        border-radius: 50%;
        background: #f6f6f7 url(images/fb-green.png) no-repeat 50% 50%;
        border: 3px solid #67bf95;
        transition: background 0.25s ease;
        &:hover {
          background-color: #67bf95;
        }
      }
      .sign-up {margin-bottom: 43px;}
    }
  }
  .slider {
    background-color: #52ad81;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 43px;
      height: 43px;
      border: 2px solid #b3dbc8;
      background: #5dba8d url(images/chevron-left.png) no-repeat 50% 50%;
      border-radius: 50%;
      z-index: 1;
      left: 100px;
      top: 385px;
      cursor: pointer;
    }
    &::after {
      position: absolute;
      content: "";
      width: 43px;
      height: 43px;
      border: 2px solid #b3dbc8;
      background: #5dba8d url(images/chevron-right.png) no-repeat 50% 50%;
      border-radius: 50%;
      z-index: 1;
      right: 100px;
      top: 385px;
      cursor: pointer;
    }
    &-item1 {
      display: none;
      text-align: center;
      padding: 100px 0 0 0;
      h2 {
        font-family: "RobotoBold";
        font-size: em(56);
        text-transform: capitalize;
      }
      p {
        font-family: "RobotoLight";
        font-size: em(30);
        text-align: center;
      }
      img {
        display: inline-block;
        width: 69.345%;
        margin: 100px 0 -8px;
      }
    }
    .active {
      display: block;
    }
  }
  .pricing {
    padding: 130px 0;
    text-align: center;
    background-color: #f6f6f7;
    .pricing-title {
      font-size: em(43);
      font-family: "RobotoBold";
      color: #37414e;
      margin-bottom: 20px;
    }
    .pricing-description {
      font-family: "RobotoLight";
      font-size: em(22);
      color: #858b93;
      width: 43.875%;
      margin: 0 auto;
    }
    .pricing-items {
      li {
        display: inline-block;
        width: 13.517%;
        margin: 90px 60px 0 0;
        position: relative;
        cursor: pointer;
        .description {
          background-color: #e9eef3;
          padding: 0 0 40px 0;
        }
        h2,
        .buy-button {
          display: block;
          text-decoration: none;
          color: #fff;
          font-size: em(24);
          padding: 5px 0;
          background-color: #4b596c;
        }
        h2 {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }
        p.price {
          font-family: "RobotoBold";
          font-size: em(24);
          color: #6d737b;
          margin-top: 20px;
        }
        p {
          font-size: em(22);
          color: #6d737b;
          margin-top: 40px;
        }
        .buy-button {
          margin-top: 40px;
          transition: 0.3s;
          &:hover {
            opacity: 0.8;
          }
        }
        &:last-child {margin-right: 0;}
      }
      .item2 {
        .description {
          background-color: #deebde;
        }
        h2,
        .buy-button {
          background-color: #58ad52;
        }
        p.price {
          color: #57ad51;
        }
        p {
          color: #768275;
        }
        &:hover::before {
          transform: rotate(360deg);
        }
      }
      .item2::before {
        position: absolute;
        content: "";
        width: 60px;
        height: 60px;
        background: #f7ca52 url(images/good.png) no-repeat 50% 50%;
        border-radius: 50%;
        right: -30px;
        top: -30px;
        transition: 0.5s;
      }
      .item3 {
        .description {
          background-color: #dde9ec;
        }
        h2,
        .buy-button {
          background-color: #52a1ad;
        }
        p.price {
          color: #52a1ad;
        }
        p {
          color: #687982;
        }
      }
    }
  }
  .video {
    text-align: center;
    h2 {
      font-size: em(43);
      color: #4b596c;
      padding: 30px 0;
      background-color: #e9eaed;
    }
    .video-preview {
      background-color: rgba(#de696a, 0.75);
      width: 100%;
      height: 800px;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        background: url(images/video-img.png);
        background-position: 50% 50%;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
    }
  }
  .contact-us {
    padding: 120px 0 104px 0;
    background-color: #2d3136;
    opacity: 0.95;
    img {
      width: 274px;
      height: 274px;
      display: block;
      margin: 0 auto;
    }
    .feedback-form {
      text-align: center;
      margin-top: 60px;
      .left-wrapper,
      .right-wrapper {
        display: inline-block;
        vertical-align: top;
      }
      .left-wrapper {
        margin-right: 125px;
      }
      label {
        font-size: em(35);
        color: #d7d7d7;
        display: block;
        text-align: left;
      }
      label[for="input-mail"] {
        margin-top: 70px;
      }
      input,
      textarea {
        font-family: "RobotoLight";
        width: 450px;
        border-radius: 4px;
        background-color: #2f3136;
        border: 1px solid rgba(255, 255, 255, 0.52);
        font-size: em(30);
        color: #d7d7d7;
        padding: 25px 10px;
        display: block;
        margin-top: 10px;
        &:focus {
          border: 1px solid rgba(190, 57, 59, 0.49);
        }
      }
      textarea {
        height: 268px;
        resize: none;
      }
      .submit-button {
        margin-top: 60px;
        width: auto;
        border: none;
        background-color: #be393b;
        font-size: em(36);
        text-transform: uppercase;
        padding: 15px 50px;
        border-radius: 4px;
        color: #fff;
        font-family: "RobotoBold";
        float: right;
        cursor: pointer;
        &:focus {
          border: none;
        }
      }
    }
  }
  .footer {
    padding: 30px 10%;
    background-color: #2a2d33;
    overflow: hidden;
    .logo {
      float: left;
      img {
        width: 32px;
        height: 32px;
        display: inline-block;
      }
      h2 {
        font-size: em(42);
        color: #efefef;
        display: inline-block;
        margin: 0 20px;
      }
      p {
        font-size: em(24);
        color: #8d8d8d;
        display: inline-block;
        a {
          text-decoration: none;
          color: #8d8d8d;
        }
      }
    }
    .links {
        float: right;
        margin-top: 15px;
        .twitter,
        .facebook {
          width: 50px;
          height: 50px;
          background: #2f3338 url(images/fb.png) no-repeat 50% 50%;
          background-size: 15px 25px;
          border: 2px solid #454648;
          border-radius: 50%;
          display: inline-block;
          transition: 0.4s;
          &:hover {
            opacity: 0.6;
          }
        }
        .twitter {
          margin-right: 50px;
          background-image: url(images/tw.png);
          background-size: 25px 25px;
        }
    }
  }
}

@media screen and (max-width: 1450px) {
  .main-wrapper {
    .main-header{
      .banner {
        .description {
          width: 600px;
          h2 {
            font-size: em(32);
          }
          p {
            font-size: em(20);
          }
        }
      }
    }
    .details {
      padding: 99px 0 135px 10%;
      background-color: #f6f6f7;
      &-description {
        margin-left: 50px;
        margin-right: 50px;
      }
      &-registration {
        display: inline-block;
        .sign-up,
        .fb-sign-up {
          width: 70px;
          height: 70px;
          display: block;
          border-radius: 50%;
          background: #f6f6f7 url(images/fb-green.png) no-repeat 50% 50%;
          border: 3px solid #67bf95;
          transition: background 0.25s ease;
          &:hover {
            background-color: #67bf95;
          }
        }
        .sign-up {margin-bottom: 43px;}
      }
    }
  }
}


@media screen and (max-width: 1150px) {
  .main-wrapper {
    .details {
      padding: 99px 0 135px 10%;
      background-color: #f6f6f7;
      &-description {
        margin-left: 50px;
        margin-right: 50px;
      }
      &-registration {
        text-align: center;
        display: block;
        margin: 20px 0 0 0;
        .sign-up,
        .fb-sign-up {
          width: 70px;
          height: 70px;
          display: inline-block;
        }
        .sign-up {
          margin-bottom: 0;
          margin-right: 20px;
        }
      }
    }
    .slider {
      &::before {
        left: 30px;
      }
      &::after {
        right: 30px;
      }
      &-item1 {
        p {
          margin: 0;
          text-align: center;
        }
      }
    }
    .pricing {
      .pricing-items {
        li {
          width: 310px;
        }
      }
    }
    .contact-us {
      .feedback-form {
        text-align: center;
        margin-top: 60px;
        .left-wrapper,
        .right-wrapper {
          display: block;
          margin: 0 auto;
        }
        label {
          display: inline;
          text-align: center;
        }
        input,
        textarea {
          margin: 0 auto;
          width: 290px;
          margin-bottom: 20px;
        }
        .submit-button {
          float: none;
          margin: 0 auto;
        }
      }
    }
    footer.footer {
      padding: 30px 10%;
      background-color: #2a2d33;
      text-align: center;
      .logo {
        display: inline-block;
      }
      .links {
        margin-top: 15px;
        display: inline-block;
        float: none;
      }
    }
  }
}


@media screen and (max-width: 1300px) {
  .main-wrapper {
    .main-header{
      .banner {
        .description {
          width: 400px;
          h2 {
            font-size: em(32);
          }
          p {
            font-size: em(20);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1040px) {
  .main-wrapper {
    .main-header{
      .banner {
        .description {
          width: 660px;
          h2 {
            font-size: em(47);
          }
          p {
            font-size: em(32);
          }
        }
        .banner-pic {
          display: none;
        }
      }
    }
    .details {
      padding: 99px 0 135px 0;
      background-color: #f6f6f7;
      text-align: center;
      &-description {
        width: auto;
        margin-left: 50px;
        margin-right: 50px;
      }
      &-pic {
        display: none;
      }
    }
  }
}


@media screen and (max-width: 800px) {
  .main-wrapper {
    .main-header{
      .top-nav {
        .login {
          h2 {
            display: block;
            line-height: 2;
          }
        }
      }
      .banner {
        .description {
          width: 100%;
          text-align: center;
          h2 {
            font-size: em(36);
          }
          p {
            font-size: em(22);
          }
          .special {
            text-decoration: none;
            color: #fff;
            font-size: em(22);
            padding: 20px 45px;
            background-color: rgba(#67bf95, 0.8);
            border-radius: 14px;
            text-transform: capitalize;
            transition: 0.5s;
            &:hover {
              background-color: #67bf95;
            }
          }
        }
        .banner-pic {
          display: none;
        }
      }
    }
    .pricing {
      .pricing-items {
        li {
          display: block;
          margin-left: auto;
          margin-right: auto;
          &.item3 {
            margin-right: auto;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 640px) {
  .main-wrapper {
    .main-header{
      .top-nav {
        .login {
          h2 {
            display: none;
          }
          a {
            margin-top: 15px;
          }
        }
      }
      .banner {
        .description {
          width: 100%;
          text-align: center;
          h2 {
            font-size: em(26);
          }
          p {
            font-size: em(18);
          }
        }
        .banner-pic {
          display: none;
        }
      }
    }
    .slider {
      &::before {
        left: 10px;
      }
      &::after {
        right: 10px;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .main-wrapper {
    .main-header{
      padding-left: 10px;
      padding-right: 10px;
      .top-nav {
        text-align: center;
        .logo {
          float: none;
        }
        .login {
          float: none;
        }
      }
    }
    .slider {
      &::before {
        display: none;
      }
      &::after {
        display: none;
      }
    }
    .pricing {
      .pricing-items {
        li:nth-child(2) {
          &::before {display: none;}
        }
      }
    }
  }
}
